<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CheckPSHostVersion" value=".\SupportingScripts\CheckPSHostVersion.ps1"/>
    <add key="GetService_test" value=".\SupportingScripts\GetService_test.ps1"/>
  </appSettings>
</configuration>